<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>O-Auth</title>
  </head>
  <body>
    <h1>this is home page</h1>

    <a href="/auth/login">go to login page</a>

    <% if (user) { %>
      <a href="/auth/profile">go to profile page</a>
    <% } else { %>
      <p>Please log in to continue</p>
    <% } %>
  </body>
</html>