
<!DOCTYPE html>
<html>
<head>
    <title>Add Student</title>
</head>
<body>

<h2>Add Student</h2>

<form action="/add-student" method="POST">
    <input 
        type="text" 
        name="name" 
        placeholder="Enter name" 
        required 
    />
    <button type="submit">Add</button>
</form>

<br>
<a href="/">⬅ Back to Student List</a>

</body>
</html>
