
<!DOCTYPE html>
<html>
<head>
    <title>Students</title>
</head>
<body>

<h1>Student List</h1>

<a href="/add">â• Add Student</a>

<ul>
    <% students.forEach(student => { %>
        <li>
            <%= student.id %> - <%= student.name %>
        </li>
    <% }) %>
</ul>

</body>
</html>
